<nav aria-label="Global" class="flex items-center  justify-between w-full text-primary-foreground bg-background shadow-lg p-3 mb-5">
  <span class="flex items-center space-y-2">
    <!-- <button mat-icon-button (click)="toggleSideBar()" class="menu-button lg:hidden">
      <mat-icon>menu</mat-icon>
    </button> -->
      <span class="font-bold text-3xl text-accent">Password Changes</span>
  </span>
  <button mat-flat-button type="submit" (click)="onSubmit()">Save Changes</button>
</nav>
<form [formGroup]="passwordChangeForm" class="flex flex-col space-y-6  p-8 bg-card mx-20 rounded-lg shadow-xl transition-transform transform">
  <mat-form-field appearance="fill">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" formControlName="currentPassword" />
    @if(passwordChangeForm.get('currentPassword')?.hasError('required')) {
    <mat-error> Current password is required </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
    @if(passwordChangeForm.get('newPassword')?.hasError('required')) {
    <mat-error> New password is required </mat-error>
    }@else if(passwordChangeForm.get('newPassword')?.hasError('minlength')) {
    <mat-error> New password must be at least 8 characters long </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" formControlName="confirmNewPassword" />
    @if(passwordChangeForm.get('confirmNewPassword')?.hasError('required')) {

    <mat-error> Confirm new password is required </mat-error>
    }
    @else if(passwordChangeForm.get('confirmNewPassword')?.hasError('mustMatch'))
    {
    <mat-error> Confirm new password must match new password </mat-error>
    }
  </mat-form-field>

</form>
