<div class="container  text-slate-900 mx-auto px-4 lg:px-20 py-8 bg-background rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold text-slate-900 mb-6 text-center">Password Strength Tester</h1>
    <p class="text-lg text-slate-900 mb-4 text-center">Test the strength of your password with our interactive tool.</p>
    <div class="grid grid-cols-1 justify-center content-center lg:grid-cols-3 gap-4">
        <input
          type="password"
          placeholder="Enter a password..."
          (keydown)="checkPassword()"
          class="col-span-3 py-4 px-3 border border-input shadow-xl rounded-md focus:outline-none focus:ring focus:ring-primary text-slate-900 mb-4"
           [(ngModel)]="password"
        />
    </div>
    <div *ngIf="passwordStrength && passwordStrength['message']" class="bg-white p-4 rounded-lg shadow-md my-6">
      <h3 class="text-lg font-bold text-slate-900 mb-2">Password Strength:</h3>
      <div class="flex items-center my-2">
        <div class="w-3/4 bg-primary h-2 rounded-md">
          <mat-progress-bar [value]="passwordStrength['score']"></mat-progress-bar>
        </div>
        <span class="ml-2 text-primary" >{{ passwordStrength['message'] }}</span>
      </div>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">How strong is your password?</h3>
      <p class="text-slate-950">With Safepassvault, you can instantly generate and save strong passwords for each of your accounts.</p>
      <button class="bg-slate-50 border-slate-950 border-2 text-accent-foreground py-3 px-4 rounded-2xl shadow-sm drop-shadow-sm transition duration-300 ease-in-out transform hover:scale-105 mt-4">Get Started</button>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">Password Strength Testing Tool</h3>
      <p class="text-slate-950">Think you have a strong password? Find out below.</p>
      <h4 class="font-bold text-slate-900">Evaluate your password:</h4>
      <p class="text-slate-950">Your password strength: <span>{{ passwordStrength && passwordStrength['message'] || 'very weak' }}</span></p>
      <p class="text-slate-950">Estimated time to crack: less than a second</p>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">Password FAQ</h3>
      <details class="text-slate-950 my-4">
        <summary class="cursor-pointer">Is it safe to type my real password here?</summary>
        <p>Absolutely! We do not store or save any passwords entered into the Password Checker. Your security and privacy are our top priority.</p>
      </details>
      <details class="text-slate-950 my-4">
        <summary class="cursor-pointer">How do you calculate password strength?</summary>
        <p>Our tool analyzes your password against common security criteria such as length, complexity, and common patterns.</p>
      </details>
      <details class="text-slate-950 my-4">
        <summary class="cursor-pointer">How do I create a strong password?</summary>
        <p>Follow the recommendations provided by the Password Checker and use a password generator to create a stronger one.</p>
      </details>
      <details class="text-slate-950 my-4">
        <summary class="cursor-pointer">What's the best way to manage my passwords?</summary>
        <p>Using a password manager like Safepassvault is the best way to securely store and manage all your passwords in one place.</p>
      </details>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">Password Strength Best Practices</h3>
      <ul class="list-disc list-inside text-slate-900 space-y-2">
        <li><strong>Make it unique:</strong> Use passwords unique to different online accounts.</li>
        <li><strong>Make it random:</strong> Ensure your passwords do not follow a recognizable pattern.</li>
        <li><strong>Make it long:</strong> Use long passwords consisting of 14 characters or more.</li>
      </ul>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">Why does password strength matter?</h3>
      <p class="text-slate-950">
        Using the same password repeatedly across multiple sites might be convenient, but it also introduces a huge security risk. Choosing a unique and complex password for every online account helps
        ensure that your private information stays safe and secure.
      </p>
    </div>
    <div class="my-6">
      <h3 class="text-lg font-bold text-slate-900">Additional Features</h3>
      <ul class="list-disc list-inside text-slate-900 space-y-2">
        <li><strong>Two-Factor Authentication:</strong> Add an extra layer of security to your account.</li>
        <li><strong>Password Sharing:</strong> Easily share passwords while maintaining control over access.</li>
        <li><strong>Security Alerts:</strong> Receive notifications when a password has been compromised.</li>
        <li><strong>Password Analyzer:</strong> Get insights into your password strength and receive</li>
      </ul>
    </div>
  </div>