<mat-toolbar>
  <h1 mat-dialog-title>Create New Folder</h1>
  <span class="spacer"></span> <!-- Spacer to push the title to the left -->
  <button mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Folder Name</mat-label>
    <input matInput placeholder="Folder Name" [(ngModel)]="folderName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onCreate()">Create</button>
</mat-dialog-actions>