<mat-toolbar>
    <h2 mat-dialog-title class="text-2xl font-semibold text-center mb-6">secrets management form!</h2>

</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="newSecret" class="flex flex-col space-y-6">
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" placeholder="Enter name" />
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <input matInput formControlName="type" placeholder="Enter type" />
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <input matInput formControlName="value" placeholder="Enter value" />
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
        </mat-form-field>
      
       
      </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close="true">
        CLose
    </button>
    <button type="button" (click)="addSecret()" mat-flat-button color="primary">
        Save Secret
      </button>
</mat-dialog-actions>
  