<mat-toolbar>
    <h2 mat-dialog-title class="text-2xl font-semibold text-center mb-6 capitalize">secrets management form</h2>

</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="newSecret" class="flex flex-col space-y-6">
        <div fxLayout="column" fxLayoutGap="16px">
          <mat-card>
            <mat-card-title>Secret Details</mat-card-title>
            <mat-card-content>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Secret Name</mat-label> -->
                <input matInput formControlName="name" placeholder="Enter secret name" />
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <!-- <mat-label>Type</mat-label> -->
                <input matInput formControlName="type" placeholder="Enter type" />
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <!-- <mat-label>Secret Value</mat-label> -->
                <input matInput formControlName="value" type="password" placeholder="Enter secret value" />
                <button mat-icon-button matSuffix (click)="toggleValueVisibility()">
                  <mat-icon>{{ hideValue ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
      
              <mat-slide-toggle formControlName="encrypt">Encrypt Secret</mat-slide-toggle>
      
              <mat-form-field appearance="outline">
                <!-- <mat-label>Description</mat-label> -->
                <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <!-- <mat-label>Category</mat-label> -->
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <!-- <mat-label>Expiration Date</mat-label> -->
                <input matInput formControlName="expirationDate" [matDatepicker]="picker" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
      
  
        </div>
      </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close="true">
        CLose
    </button>
    <button type="button" (click)="addSecret()" mat-flat-button color="primary">
        Save Secret
      </button>
</mat-dialog-actions>
  