<mat-toolbar>
  <h2 mat-dialog-title class="text-2xl font-semibold text-center mb-6 capitalize">
    Secrets Management Form
  </h2>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="newSecret" class="flex flex-col space-y-6">
    <mat-form-field appearance="outline">
      <input matInput formControlName="name" placeholder="Enter secret name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select formControlName="category" placeholder="select Secret Type">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select formControlName="format" placeholder="Select Format" (selectionChange)="onFormatChange($event)">
        <mat-option value="text">Text</mat-option>
        <mat-option value="json">JSON</mat-option>
        <mat-option value="file">File</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Key-Value Fields (for Text format) -->
    <div *ngIf="selectedFormat === 'text'">
      <div formArrayName="keyValuePairs" *ngFor="let keyValue of keyValuePairs.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field appearance="outline">
            <input matInput formControlName="key" placeholder="Enter secret key" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput formControlName="value" type="password" placeholder="Enter secret value" />
            <button mat-icon-button matSuffix (click)="toggleValueVisibility(i)">
              <mat-icon>{{ hideValue[i] ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-icon-button (click)="removeKeyValuePair(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <button mat-raised-button (click)="addKeyValuePair()">Add Another Key-Value Pair</button>
    </div>

    <!-- JSON Field (for JSON format) -->
    <div *ngIf="selectedFormat === 'json'">
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="jsonValue" placeholder="Enter secret as JSON" rows="5"></textarea>
      </mat-form-field>
    </div>

    <!-- File Upload (for File format) -->
    <div *ngIf="selectedFormat === 'file'">
      <mat-form-field appearance="outline">
        <button type="button" mat-icon-button matPrefix (click)="f_input.click()" *ngIf="!isEditMode || !fileData">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="text" readonly matInput [value]="fileData?.filename || 'No file selected'"
          [disabled]="isEditMode" />
        <input type="file" multiple hidden #f_input (change)="onFileSelected($event)"
          [disabled]="isEditMode && fileData" />
        <mat-error *ngIf="newSecret.get('file')?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <input matInput formControlName="expirationDate" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="tags" placeholder="Enter tags, separated by commas" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="createdDate" [value]="currentDate" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <input matInput (change)="onFileSelected($event)" />
    </mat-form-field> -->
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-dialog-close="true">Close</button>
  <button type="button" (click)="addSecret()" mat-flat-button color="primary">
    Save Secret
  </button>
</mat-dialog-actions>