<mat-sidenav-container class="example-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" [opened]="isSidebarOpen" class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="setTab(0);">Personal Details</a>
      <a mat-list-item (click)="setTab(1);">Security Token</a>
      <a mat-list-item (click)="setTab(2);">Change Password</a>
      <a mat-list-item (click)="setTab(3);">Email Notification</a>
      <a mat-list-item (click)="setTab(4);">MFA Authentication</a>
      <a mat-list-item (click)="setTab(5);">Role Permissions</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="p-4">
    @switch(tab) {
      @case (0){
      <app-user-profile/>    
     }
      @case (1) {
        <app-security/>
      }
      @case (2) {
        <app-password-change/>
      }
      @case (3) {
        <app-notification/>
      }
      @case (4)  {
        <app-mfa-setting/>
      }
      @default {
        <p>gg</p>
      }
    }
  </mat-sidenav-content>
</mat-sidenav-container>
