<nav aria-label="Global" class="flex items-center  justify-between w-full text-primary-foreground bg-background shadow-lg p-3">
  <span class="font-bold text-3xl text-accent">Personal Information</span>
  <button mat-flat-button class="" (click)="editProfile()">Edit Profile</button>
</nav>
<div id="profile" class="relative flex flex-col lg:flex-row items-center justify-between w-full p-8 bg-card rounded-lg shadow-xl transition-transform transform">
  <div class="flex flex-col mb-4 lg:mr-4">
    <h2 class="text-2xl font-bold text-accent uppercase">{{user?.name}}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
      <div>
        <h6 class="font-semibold text-muted">Role:</h6>
        <p class="text-primary uppercase">{{user?.role}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Email:</h6>
        <p class="text-primary">{{user?.email}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Phone:</h6>
        <p class="text-primary">+{{user?.phone}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Created at:</h6>
        <p class="text-primary">{{user?.createdAt |date:"short"}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Billing Address:</h6>
        <p class="text-primary">{{user?.billingAddress}} {{user?.city}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">City:</h6>
        <p class="text-primary">{{user?.city}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">State:</h6>
        <p class="text-primary">{{user?.state}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Postal Code:</h6>
        <p class="text-primary">{{user?.postalCode}}</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Country:</h6>
        <p class="text-primary">{{user?.country}}</p>
      </div>
      <!-- <div>
        <h6 class="font-semibold text-muted">Payment Method:</h6>
        <p class="text-primary"></p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Card Number:</h6>
        <p class="text-primary">**** **** **** 1234</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">Expiry Date:</h6>
        <p class="text-primary">12/24</p>
      </div>
      <div>
        <h6 class="font-semibold text-muted">CVV:</h6>
        <p class="text-primary">123</p>
      </div> -->
    </div>
  </div>
  <img
    src="https://placehold.co/150"
    alt="Profile Picture"
    class="rounded-full w-28 h-28 lg:w-36 lg:h-36 border-4 border-accent shadow-lg transition-transform transform hover:scale-110 mt-4 lg:mt-0"
  />
</div>