<form [formGroup]="passwordForm" class="mb-4 flex flex-col space-y-8 p-20 w-full">
  <h1 class="text-3xl font-bold mb-4">Password Manager</h1>
  <mat-form-field class="example-full-width">
    <mat-label>name</mat-label>
    <input type="text" formControlName="name" matInput placeholder="555-555-1234">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>website</mat-label>
    <input type="url" matInput formControlName="website" placeholder="555-555-1234">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>username</mat-label>
    <input type="email" matInput formControlName="username" placeholder="555-555-1234">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="555-555-1234">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label> Description (optional)</mat-label>
    <textarea matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary" type="button" (click)="addPassword()">
    Add Password
  </button>
</form>