<h2 mat-dialog-title>Create Organization</h2>
<mat-dialog-content>
  <form
    [formGroup]="organizationForm"
    class="flex flex-col space-y-10"
  >
    <mat-form-field appearance="fill">
      <mat-label>Organization Name</mat-label>
      <input matInput type="text" formControlName="organization_name" />
      @if(organizationForm.get('organization_name')?.hasError('required')) {
      <mat-error> Organization name is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Organization Description (optional)</mat-label>
      <input matInput type="text" formControlName="organization_description" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="addOrganization()"
    [disabled]="!organizationForm.valid"
  >
    Create Organization
  </button>
</mat-dialog-actions>
