<mat-sidenav-container class="relative flex flex-uot h-[90vh]">
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="mode"
    [opened]="isSidebarOpen"
    class="sm: sidenav.closee()"
    style="
      padding: 2rem 0 !important;
      background-color: rgb(37, 36, 44);
      color: white !important;
      border-radius: 0% !important;
      display: flex !important;
      flex-direction: column !important;
      column-gap: 3rem !important;
    "
  >
    <div class="flex flex-col space-y-2">
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab('personal-details')"
        >Personal Details</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab('security')"
        >Security Token</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab('privacy')"
        >Change Password</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab('manage-notification')"
        >Email Notification</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab('mfa-authentication')"
        >MFA Authentication</a
      >
      <a
      class="px-4 py-2 text-white block text-center cursor-pointer"
      (click)="setTab('plan-details')"
      > Plan And Usage</a
    >
    </div>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="p-4">
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
