<mat-toolbar color="primary">
  <h2 mat-dialog-title>Add Password</h2>
</mat-toolbar>

<mat-dialog-content class="mat-typography p-6">
  <form [formGroup]="passwordForm" class="flex flex-col space-y-8 w-full">
    <!-- Name Field -->
    <mat-form-field>
      <input type="text" formControlName="name" matInput placeholder="Enter name">
      <mat-error *ngIf="passwordForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
      <mat-error *ngIf="passwordForm.get('name')?.hasError('pattern')">
        Invalid name format
      </mat-error>
    </mat-form-field>

    <!-- Website Field -->
    <mat-form-field>
      <input type="url" matInput formControlName="website" placeholder="https://example.com">
      <mat-error *ngIf="passwordForm.get('website')?.hasError('required')">
        Website is required
      </mat-error>
      <mat-error *ngIf="passwordForm.get('website')?.hasError('pattern')">
        Invalid website format
      </mat-error>
    </mat-form-field>

    <!-- Username Field -->
    <mat-form-field>
      <input type="email" matInput formControlName="username" placeholder="username@example.com">
      <mat-error *ngIf="passwordForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="passwordForm.get('username')?.hasError('email')">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field>
      <input type="password" matInput formControlName="password" placeholder="Enter password">
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
        Password must be at least 8 characters long
      </mat-error>
    </mat-form-field>

    <!-- Description Field -->
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
      <mat-error *ngIf="passwordForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <!-- Folder Search -->
    <mat-form-field>
      <input
        matInput
        formControlName="searchFolders"
        placeholder="Search Folders"
        [matAutocomplete]="folderAuto"
        (input)="searchFolders()"
      />
      <mat-autocomplete #folderAuto="matAutocomplete" (optionSelected)="onFolderSelected($event)">
        <ng-container *ngIf="isLoading; else folderOptions">
          <mat-option disabled>Loading folders...</mat-option>
        </ng-container>
        <ng-template #folderOptions>
          <ng-container *ngIf="folders.length > 0; else noFolders">
            <mat-option *ngFor="let folder of folders" [value]="folder">
              {{ folder.label }}
            </mat-option>
          </ng-container>
          <ng-template #noFolders>
            <mat-option>
              No matching folder found.
              <button mat-mini-fab color="primary" (click)="createNewFolder()">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-option>
          </ng-template>
        </ng-template>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Tags Autocomplete with Chips -->
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <input
        matInput
        formControlName="searchTerm"
        placeholder="Search Tags"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipGrid" 
        (input)="searchTags()"
      />
      <mat-chip-grid #chipGrid aria-label="Tag selection">
        <ng-container *ngIf="selectedTags.length >0">
          <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag._id)">
            {{ tag.name }}
            <button matChipRemove aria-label="Remove tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          
        </ng-container>
      </mat-chip-grid>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTagSelected($event)">
        <ng-container *ngIf="isLoading && passwordForm.value.searchTerm?.length === 0; else tagOptions">
          <mat-option>Loading tags...</mat-option>
        </ng-container>
        <ng-template #tagOptions>
          <ng-container *ngIf="tags.length > 0; else noTags">
            <mat-option *ngFor="let tag of tags" [value]="tag">
              {{ tag.name }}
            </mat-option>
          </ng-container>
          <ng-template #noTags>
            <mat-option>
              No matching tags found.
              <button mat-flat-button color="primary" (click)="createNewTag()">Create new tag</button>
            </mat-option>
          </ng-template>
        </ng-template>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex items-center justify-between p-4">
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <button mat-flat-button color="primary" (click)="addPassword()">Add Password</button>
</mat-dialog-actions>
