  <mat-toolbar color="primary">
    <h2 mat-dialog-title>Add Password</h2>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography p-6">
    <form [formGroup]="passwordForm" class="flex flex-col space-y-8 w-full">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Enter name">
        <mat-error *ngIf="passwordForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('name')?.hasError('pattern')">
          Invalid name format
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="url" matInput formControlName="website" placeholder="https://example.com">
        <mat-error *ngIf="passwordForm.get('website')?.hasError('required')">
          Website is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('website')?.hasError('pattern')">
          Invalid website format
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput formControlName="username" placeholder="username@example.com">
        <mat-error *ngIf="passwordForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('username')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Enter password">
        <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
        <mat-error *ngIf="passwordForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance='outline'>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          @for (tag of tagsName(); track $index) {
          @if(tag) {
          <mat-chip-row (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
          }
        </mat-chip-grid>
        <input name="searchTerm" placeholder="searrch Tags" (input)="searchTags()" [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [(ngModel)]="searchTerm" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          @for(tag of tags; track tag._id) {
          <mat-option [value]="tag">
            {{ tag.name }}
          </mat-option>
          } @empty {
            @if(!isLoading) {
              <mat-option>
                <span>No matching tags found.</span>
                <button mat-button color="primary" (click)="createNewTag()">Create new tag</button>
              </mat-option>
            }@else {
              <mat-option>
                Loading tags...
              </mat-option>
            }
          }

        </mat-autocomplete>
      </mat-form-field>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" type="button" (click)="addPassword()">
      Add Password
    </button>
  </mat-dialog-actions>