<!-- Main Container -->
<div class="w-full flex flex-col items-center justify-center h-[100vh] p-5">
  <!-- Signup Card Content -->
  <div class="flex flex-col space-y-6">
    <div class="flex items-center justify-between">
      <span class="text-3xl font-extrabold">Start Your Password Journey</span>
    </div>

    <mat-stepper orientation="horizontal" [linear]="true" #stepper>
      <!-- Step 1: User Details -->
      <mat-step [stepControl]="signupForm">
        <form [formGroup]="signupForm" class="flex flex-col space-y-6">
          <ng-template matStepLabel>Fill out your details</ng-template>

          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Your name"
              formControlName="name"
              required
            />
            <mat-error
              *ngIf="
                signupForm.get('name')?.hasError('required') &&
                signupForm.get('name')?.touched
              "
            >
              Name is required
            </mat-error>
            <mat-error
              *ngIf="
                signupForm.get('name')?.hasError('minlength') &&
                signupForm.get('name')?.touched
              "
            >
              Name must be at least 3 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Your email"
              formControlName="email"
              required
              type="email"
            />
            <mat-error
              *ngIf="
                signupForm.get('email')?.hasError('required') &&
                signupForm.get('email')?.touched
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                signupForm.get('email')?.hasError('email') &&
                signupForm.get('email')?.touched
              "
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              type="number"
              placeholder="Your phone"
              formControlName="phone"
              required
            />
            <mat-error
              *ngIf="
                signupForm.get('phone')?.hasError('required') &&
                signupForm.get('phone')?.touched
              "
            >
              Phone number is required
            </mat-error>
            <mat-error
              *ngIf="
                signupForm.get('phone')?.hasError('pattern') &&
                signupForm.get('phone')?.touched
              "
            >
              Please enter a valid 10-digit phone number
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              id="hs-strong-password-with-indicator-and-hint"
              formControlName="password"
              placeholder="Your Password"
              required
            />
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{
                hide() ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              matSuffix
              (click)="generatePassword()"
            >
              <mat-icon>filter</mat-icon>
            </button>
            <mat-error
              *ngIf="
                signupForm.get('password')?.hasError('required') &&
                signupForm.get('password')?.touched
              "
            >
              Password is required
            </mat-error>
          </mat-form-field>

          <div class="flex flex-col">
            <mat-progress-bar
              class="example-margin"
              [value]="value"
            ></mat-progress-bar>
          </div>

          <span class="text-sm font-bold">
            Password Strength:
            <span
              [ngClass]="{
                'text-red-500': strength === 0 || strength === 1,
                'text-yellow-500': strength === 2,
                'text-green-500': strength === 3,
                'text-blue-500': strength === 4
              }"
            >
              {{ getPasswordStrengthLabel(strength) }}
            </span>
          </span>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 2: Billing Information -->
      <mat-step [stepControl]="billingForm">
        <form [formGroup]="billingForm" class="flex flex-col space-y-6">
          <ng-template matStepLabel>Billing Information</ng-template>

          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="billingAddress"
              placeholder="Your billing address"
              required
            />
            <mat-error
              *ngIf="
                billingForm.get('billingAddress')?.hasError('required') &&
                billingForm.get('billingAddress')?.touched
              "
            >
              Billing address is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="city"
              placeholder="City"
              required
            />
            <mat-error
              *ngIf="
                billingForm.get('city')?.hasError('required') &&
                billingForm.get('city')?.touched
              "
            >
              City is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="state"
              placeholder="State/Province"
              required
            />
            <mat-error
              *ngIf="
                billingForm.get('state')?.hasError('required') &&
                billingForm.get('state')?.touched
              "
            >
              State/Province is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="postalCode"
              placeholder="Postal Code"
              required
            />
            <mat-error
              *ngIf="
                billingForm.get('postalCode')?.hasError('required') &&
                billingForm.get('postalCode')?.touched
              "
            >
              Postal Code is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="country"
              placeholder="Country"
              required
            />
            <mat-error
              *ngIf="
                billingForm.get('country')?.hasError('required') &&
                billingForm.get('country')?.touched
              "
            >
              Country is required
            </mat-error>
          </mat-form-field>



          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 3: Payment Information -->
      <!-- Step 3: Payment Information -->
      <mat-step [stepControl]="paymentForm" *ngIf="isPaidPlan">
        <form [formGroup]="paymentForm" class="flex flex-col space-y-6">
          <ng-template matStepLabel>Payment Information</ng-template>

          <!-- <mat-form-field appearance="outline">
            <mat-select formControlName="paymentMethod" required>
              <mat-option value="creditCard">Credit/Debit Card</mat-option>
              <mat-option value="paypal">PayPal</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                paymentForm.get('paymentMethod')?.hasError('required') &&
                paymentForm.get('paymentMethod')?.touched
              "
            >
              Payment method is required
            </mat-error>
          </mat-form-field> -->

          <mat-form-field appearance="outline" >
            <input
              matInput
              formControlName="cardNumber"
              placeholder="Card Number"
              required
              type="text"
              pattern="[0-9]*"  
              maxlength="19"    
            />
            <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('required') && paymentForm.get('cardNumber')?.touched">
              Card number is required
            </mat-error>
            <mat-error *ngIf="paymentForm.get('cardNumber')?.hasError('pattern') && paymentForm.get('cardNumber')?.touched">
              Card number must be between 13 and 19 digits
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <input
              matInput
              formControlName="cvv"
              placeholder="CVV"
              required
              type="text"
              pattern="[0-9]*"  
              maxlength="4"   
            />
            <mat-error *ngIf="paymentForm.get('cvv')?.hasError('required') && paymentForm.get('cvv')?.touched">
              CVV is required
            </mat-error>
            <mat-error *ngIf="paymentForm.get('cvv')?.hasError('pattern') && paymentForm.get('cvv')?.touched">
              CVV must be 3 or 4 digits
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Expiry Month</mat-label>
            <input
              matInput
              formControlName="expiryMonth"
              placeholder="MM"
              type="number"
              min="1"
              max="12"
              (input)="validateExpiryDate()"
              required
            />
            <mat-error *ngIf="paymentForm.get('expiryMonth')?.hasError('required') && paymentForm.get('expiryMonth')?.touched">
              Expiry month is required
            </mat-error>
            <mat-error *ngIf="paymentForm.get('expiryMonth')?.hasError('min') || paymentForm.get('expiryMonth')?.hasError('max')">
              Month must be between 01 and 12
            </mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Expiry Year</mat-label>
            <input
              matInput
              formControlName="expiryYear"
              placeholder="YY"
              type="number"
              min="0"
              max="99"
              (input)="validateExpiryDate()"
              required
            />
            <mat-error *ngIf="paymentForm.get('expiryYear')?.hasError('required') && paymentForm.get('expiryYear')?.touched">
              Expiry year is required
            </mat-error>
            <mat-error *ngIf="paymentForm.get('expiryYear')?.hasError('min') || paymentForm.get('expiryYear')?.hasError('max')">
              Year must be between 00 and 99
            </mat-error>
          </mat-form-field>
          
          <mat-error *ngIf="expiryDateInvalid">
            Expiration date must be valid and not in the past
          </mat-error>
          
        
          <div *ngIf="paymentForm.value.planType === 'teams'">
            <mat-slider
              min="1"
              max="100"
              step="1"
              value="paymentForm.value.numberOfUsers"
              (change)="onUserCountChange($event)"
              thumbLabel
            >
              <input
                matSliderThumb
                formControlName="numberOfUsers"
                [(ngModel)]="value"
                #slider
              />
            </mat-slider>
            <p>Number of Users: {{ paymentForm.value.numberOfUsers }}</p>
            <p>Price: {{ calculatePrice() | currency }}</p>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 4: Confirmation -->
      <mat-step>
        <ng-template matStepLabel>Confirmation</ng-template>
        <p>Please confirm your details:</p>
        <div>
          <p><strong>Name:</strong> {{ signupForm.value.name }}</p>
          <p><strong>Email:</strong> {{ signupForm.value.email }}</p>
          <p><strong>Phone:</strong> {{ signupForm.value.phone }}</p>
          <p>
            <strong>Billing Address:</strong>
            {{ billingForm.value.billingAddress }}
          </p>
          <p><strong>City:</strong> {{ billingForm.value.city }}</p>
          <p><strong>State/Province:</strong> {{ billingForm.value.state }}</p>
          <p>
            <strong>Postal Code:</strong> {{ billingForm.value.postalCode }}
          </p>
          <p><strong>Country:</strong> {{ billingForm.value.country }}</p>
         <p>          <strong>Card Number:</strong> {{ paymentForm.value.cardNumber }}
          </p>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onSubmit()">Submit</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
