<!-- Main Container -->
<div class=" h-[100vh]  w-full flex items-center justify-between p-5">
  <!-- Login Card Content Will Go Here -->
  <div class="w-3/6 flex justify-center items-center">
      <!-- Form -->
      <form id="signupForm" class="space-y-8" [formGroup]="signupForm">
        <!-- Logo or Branding -->
        <div class="text-center text-3xl">
          Create Your Account
        </div>
        <!-- Email Input -->
        <div>
          <input type="name" id="name" formControlName="name" placeholder="Your name"
            class="appearance-none rounded-full relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white focus:outline-none focus:ring-purple-50"
            required>
          @if(signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched) {
          <small class="text-red-600 font-semibold">Name is required.</small>
          } @if(signupForm.get('name')?.hasError('min') && signupForm.get('name')?.touched) {
          <small class="text-red-600 font-semibold">Name must be at least 3 characters.</small>
          }
        </div>
        <div>
          <input type="email" id="email" formControlName="email" placeholder="Your email"
            class="appearance-none rounded-full relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white focus:outline-none focus:ring-purple-50"
            required>

          @if(signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched) {
          <small class="text-red-600 font-semibold">Email is required.</small>
          } @if(signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched) {
          <small class="text-red-600 font-semibold">Please enter a valid email address.</small>
          }
        </div>
        <div>
          <input type="phone" id="phone" formControlName="phone" placeholder="Your phone"
            class="appearance-none rounded-full relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-50"
            required>
          @if(signupForm.get('phone')?.hasError('required') && signupForm.get('phone')?.touched) {
          <small class="text-red-600 font-semibold">Phone number is required.</small>
          } @if(signupForm.get('phone')?.hasError('pattern') && signupForm.get('phone')?.touched) {
          <small class="text-red-600 font-semibold">Please enter a valid 10-digit phone number.</small>
          }
        </div>
        <div>
          <input type="text" formControlName="organization"  placeholder="organization name (optional)"
          class="appearance-none rounded-full relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white focus:outline-none focus:ring-purple-50"
          >
        </div>
        <div>
          <input type="password" id="hs-strong-password-with-indicator-and-hint" formControlName="password"
            placeholder="Your Password"
            class="appearance-none rounded-full relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white focus:outline-none focus:ring-purple-50"
            required>
            <span class="ml-auto text-sm font-bold text-blue-700"  (click)="generatePassword()"> generate password</span>
          <div id="hs-strong-password" data-hs-strong-password='{
                "target": "#hs-strong-password-with-indicator-and-hint",
                "hints": "#hs-strong-password-hints",
                "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-teal-500 h-2 flex-auto rounded-full bg-blue-500 opacity-50 mx-1"
              }' class="flex mt-2 -mx-1"></div>
        </div>
        <div id="hs-strong-password-hints" class="mb-3">
          <div>
            <span class="text-sm text-white">Level:</span>
            <span
              data-hs-strong-password-hints-weakness-text='["Empty", "Weak", "Medium", "Strong", "Very Strong", "Super Strong"]'
              class="text-sm font-semibold text-white"></span>
          </div>

          <h4 class="my-2 text-sm font-semibold text-white">
            Your password must contain:
          </h4>

          <ul class="space-y-1 text-sm text-white">
            <li data-hs-strong-password-hints-rule-text="min-length"
              class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
              <span class="hidden" data-check="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </span>
              <span data-uncheck="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M18 6 6 18"></path>
                  <path d="m6 6 12 12"></path>
                </svg>
              </span>
              Minimum number of characters is 6.
            </li>
            <li data-hs-strong-password-hints-rule-text="lowercase"
              class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
              <span class="hidden" data-check="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </span>
              <span data-uncheck="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M18 6 6 18"></path>
                  <path d="m6 6 12 12"></path>
                </svg>
              </span>
              Should contain lowercase.
            </li>
            <li data-hs-strong-password-hints-rule-text="uppercase"
              class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
              <span class="hidden" data-check="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </span>
              <span data-uncheck="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M18 6 6 18"></path>
                  <path d="m6 6 12 12"></path>
                </svg>
              </span>
              Should contain uppercase.
            </li>
            <li data-hs-strong-password-hints-rule-text="numbers"
              class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
              <span class="hidden" data-check="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </span>
              <span data-uncheck="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M18 6 6 18"></path>
                  <path d="m6 6 12 12"></path>
                </svg>
              </span>
              Should contain numbers.
            </li>
            <li data-hs-strong-password-hints-rule-text="special-characters"
              class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
              <span class="hidden" data-check="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </span>
              <span data-uncheck="">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M18 6 6 18"></path>
                  <path d="m6 6 12 12"></path>
                </svg>
              </span>
              Should contain special characters.
            </li>
          </ul>
        </div>
        <div class="flex flex-col space-y-6">
          <div class="text-right">
            already have account? <a routerLink="/auth/login" class="text-sm text-blue-700 hover:text-blue-900 ">logn now</a>
          </div>
          <!-- Submit Button -->
          <button (click)="onSubmit()"
            mat-flat-button 
            color="primary">
              Signup now
          </button>

        </div>
      </form>
      <!-- Forgot Password Link -->
  </div>
  <div class="w-3/6 h-full flex flex-col justify-center items-center text-center p-12  "
    style="background-image: url('https://flowbite.s3.amazonaws.com/blocks/marketing-ui/authentication/illustration.svg'); background-repeat: no-repeat; background-size: cover;">
    <h1 class="text-4xl ">Welcome to Our Password manager app</h1>
    <span class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ducimus dolorem quibusdam
      doloribus dolore, nesciunt cumque ab quia. Facere eaque soluta provident voluptatem odio laborum est facilis
      exercitationem, beatae nisi!</span>
  </div>

</div>