<div class="flex flex-col relative  w-full justify-center space-y-8 p-8 sm:p-20">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="flex flex-col space-y-4 w-full py-6 text-center sm:text-left">
      <div class="text-2xl sm:text-6xl font-extrabold text-wrap">Random Strong Password Generator</div>
      <p class="text-gray-500" class="text-gray-600 sm:px-auto leading-6">Develop robust and secure passwords to
        safeguard your online accounts. Use a
        mix
        of uppercase and lowercase letters, numbers, and special characters.
        Avoid common words and easily guessable
        information such as birthdays or simple sequences. Consider using a password manager to generate and store
        unique
        passwords for each of your accounts, ensuring an additional layer of security. Regularly update your passwords
        and
        be cautious of phishing attempts that may try to steal your credentials.
      </p>
    </div>
    <div class="flex justify-center py-6">
      <img class=" w-full lg:w-2/3"
        src="images.jpg" alt="">
    </div>
  </div>

  <div class="flex flex-col items-center mx-auto space-y-3 px-auto  py-12">
    <div class="text-center font-extrabold text-3xl">Generate the Random Password</div>
    <p class="text-gray-500" class="text-center font-normal">
      Free Password Generator
      Need a strong password? Try the safepassvault Password Generator to create complex passwords and passphrases that
      will keep your information safe.

    </p>

    <span class="flex flex-wrap items-center space-x-2">
      Generator Type :
      <mat-radio-group aria-label="" [(ngModel)]="generatorType">
        <mat-radio-button [value]="1">Password</mat-radio-button>
        <mat-radio-button [value]="2">Passphrase</mat-radio-button>
      </mat-radio-group>
    </span>


    <div class="flex flex-col space-y-6">
      @if(generatorType === 1) {
      <div class=" text-xl font-extrabold">Generated Password:</div>
      <div class="flex items-center space-x-5 justify-between">
        <span class="text-sm font-bold">Password Strength:
          <span [ngClass]="{
                          'text-red-500': strength === 0 || strength === 1,
                          'text-yellow-500': strength === 2,
                          'text-green-500': strength === 3,
                          'text-blue-500': strength === 4
                        }">
            {{ getPasswordStrengthLabel(strength) }}
          </span>
        </span>
        <span class="text-sm font-bold">Password Crack Times: {{crackTimes?.online_throttling_100_per_hour}}</span>
      </div>
      <mat-form-field appearance="outline">
        <input matInput readonly type="text" [(ngModel)]="password">
        <mat-icon matSuffix (click)="copyPassword()">content_copy</mat-icon>
      </mat-form-field>
      <label for=""> Characters:{{length}} </label>
      <mat-slider class="example-margin">
        <input matSliderThumb [(ngModel)]="length" #slider [min]="15" [max]="400">
      </mat-slider>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <mat-checkbox [(ngModel)]="numbers">Include Numbers</mat-checkbox>
        <mat-checkbox [(ngModel)]="symbols">Include Symbols</mat-checkbox>
        <mat-checkbox [(ngModel)]="uppercase">Include Uppercase Letters</mat-checkbox>
        <mat-checkbox [(ngModel)]="lowercase">Include Lowercase Letters</mat-checkbox>
      </div>

      <button class="px-4 py-3 rounded bg-blue-700 text-white" color="primary" (click)="generatePassword()">Generate
        Password</button>

      }
      @else {
      <div class="text-xl font-extrabold">Generated Passphrase</div>
      <mat-form-field appearance="outline">
        <input matInput readonly type="text" [(ngModel)]="passphrase">
        <mat-icon matSuffix (click)="copyPassphrase()">content_copy</mat-icon>
      </mat-form-field>
      <label for="">Words: {{ passphraseLength }} </label>
      <mat-slider class="example-margin">
        <input matSliderThumb [(ngModel)]="passphraseLength" min="15" max="400" step="1">
      </mat-slider>

      <div class="grid grid-cols-2 gap-4">
        <mat-checkbox [(ngModel)]="includeSeparators">Include Separators</mat-checkbox>
        <mat-checkbox [(ngModel)]="capitalizeWords">Capitalize Words</mat-checkbox>
      </div>
      <button class="px-4 py-3 rounded bg-blue-700 text-white" color="primary" (click)="generatePassphrase()">Generate
        Passphrase</button>
      }
    </div>
  </div>
  <div class="flex flex-col items-center justify-center px-28 text-center py-12">
    <span class="text-3xl font-extrabold">Effortlessly Manage Strong Passwords with safepassvault, Your Trusted Password
      Manager </span>
    <p class="text-gray-500" class="text-gray-500 font-normal">Securing your online accounts with strong passwords is
      crucial in today's digital landscape. However, managing multiple complex passwords can be daunting. This is where
      a reliable password manager becomes essential.

      A password manager, such as safepassvault, is a highly effective tool for effortlessly managing strong and unique
      passwords. By utilizing safepassvault, you can conveniently generate and store complex passwords for each of your
      accounts, with the need to remember only one master password to access the manager.

      safepassvault comes highly recommended, offering individual and business plans, as well as cross-platform
      accessibility on mobile, browser, and desktop applications. With safepassvault, your passwords and important digital
      assets are securely stored in an end-to-end encrypted vault, ensuring peace of mind regarding your online
      security.

      Opting for a trusted password manager like safepassvault enables seamless management of login credentials across
      unlimited devices and platforms.
    </p>
  </div>
  <div class="flex flex-col items-center justify-center px-28 text-center py-12">
    <div class="font-extrabold text-3xl">
      Why Should I Prioritize Generating Strong Passwords?
    </div>0
    <p class="text-gray-500">
      When creating accounts on new websites, we often go through the routine of devising a password that meets various
      complexity requirements - a mix of upper- and lowercase letters, numbers, and special characters. Despite crafting
      what we believe to be a robust password, there remains a question of whether it truly provides ample security for
      our confidential information.

    </p>
    <p class="text-gray-500">
      The challenge arises when individuals, in an attempt to recall their passwords easily, resort to using familiar
      information such as birthdays or pet names. This practice poses a significant risk as hackers can exploit such
      easily available details from social media or other platforms to breach your privacy. Hence, it is vital to ensure
      that passwords do not contain any identifiable personal information.

    </p>
    <p class="text-gray-500">
      Fortunately, a robust password generator can alleviate this burden by generating strong, distinctive, and highly
      secure passwords or passphrases automatically.

    </p>
    <p class="text-gray-500">
      Expert Tip: Concerned about managing a multitude of passwords effectively? Utilizing a reliable password manager,
      like Bitwarden, offers a secure and convenient solution for maintaining strong and unique passwords for every
      account.
    </p>
  </div>

</div>