<header class="fixed inset-x-0 top-0 z-10 mb-20" *ngIf="!isLoading">
  <nav class="flex flex-col lg:flex-row items-center bg-gray-900 p-5 justify-between text-white relative">
    <div class="flex justify-between w-full lg:w-auto">
      <!-- <a routerLink="/" class="text-4xl">Safepassvault</a> -->
      <div class="flex lg:hidden">
        <button mat-icon-button [matMenuTriggerFor]="mainMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>

    <div class="menu-content hidden lg:flex lg:flex-row lg:space-x-4 lg:justify-end w-full lg:w-auto">
      <span class="flex flex-col lg:flex-row items-center space-y-2 lg:space-y-0 lg:space-x-4 ml-auto">
        <ng-container *ngIf="token; else loggedOutMenu">
          <a mat-button class="menu-item" (click)="updateSideBar('passwords')"
            routerLink="/dashboard/passwords">Passwords</a>
          <a mat-button class="menu-item" (click)="updateSideBar('notes')" routerLink="/dashboard/notes">Secure
            Notes</a>
          <a mat-button class="menu-item" (click)="updateSideBar('card')" routerLink="/dashboard/cards">Cards</a>
          <a mat-button class="menu-item" (click)="updateSideBar('file')" routerLink="/dashboard/files">File Storage</a>
          <a mat-button class="menu-item" (click)="updateSideBar('identity')"
            routerLink="/dashboard/identity">Identity</a>
          <a mat-button class="menu-item" *ngIf="userProfile?.user.role === 'admin'"
            routerLink="/admin/users">Administration</a>
          <a mat-button class="menu-item" routerLink="/dashboard/profile/personal-details">Profile</a>
          <button mat-button class="menu-item" (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loggedOutMenu>
          <button mat-button [matMenuTriggerFor]="productsMenu">Products</button>
          <a class="menu-item" mat-button routerLink="/plan-pricing">Plan and Pricing</a>
          <a class="menu-item" mat-button [matMenuTriggerFor]="documentationMenu"> Documentation</a>

          <a class="menu-item" mat-button routerLink="/support">Customer Support</a>
          <a class="menu-item" mat-button routerLink="/roadmap">
            Roadmap
          </a>
          <a class="menu-item" mat-button routerLink="/download">Download</a>
          <a class="menu-item" mat-button routerLink="/auth/signup">Get Started</a>
          <a mat-button class="menu-item" routerLink="/auth/login">Log In</a>
          <!-- <a mat-button class="menu-item" routerLink="/privacy-policy">Privacy policy</a> -->
        </ng-template>
      </span>
    </div>

    <mat-menu #mainMenu="matMenu" class="flex flex-col">
      <ng-container *ngIf="token; else loggedOutMenu">
        <a mat-menu-item class="menu-item" routerLink="/dashboard/passwords">Passwords</a>
        <a mat-menu-item class="menu-item" routerLink="/dashboard/notes">Secure Notes</a>
        <a mat-menu-item class="menu-item" routerLink="/dashboard/card">Cards</a>
        <a mat-menu-item class="menu-item" routerLink="/dashboard/file">File Storage</a>
        <a mat-menu-item class="menu-item" routerLink="/dashboard/identity">Identity</a>
        <a mat-menu-item class="menu-item" *ngIf="userProfile?.role === 'admin'"
          routerLink="/admin/users">Administration</a>
        <a mat-menu-item class="menu-item" routerLink="/dashboard/profile/personal-details">Profile</a>
        <button mat-menu-item class="menu-item" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #loggedOutMenu class="flex flex-col space-y-3">
        <button mat-menu-item [matMenuTriggerFor]="productsMenu">Products</button>
        <button mat-menu-item routerLink="/plan-pricing">Plan and Pricing</button>
        <button mat-menu-item routerLink="/auth/signup">Get Started</button>
        <a mat-menu-item routerLink="/download">Download</a>

        <a mat-menu-item [matMenuTriggerFor]="documentationMenu"> Documentation</a>
        <a mat-menu-item routerLink="/support">Customer Support</a>
        <button mat-menu-item routerLink="/auth/login">Log In</button>
      </ng-template>
    </mat-menu>

    <mat-menu #productsMenu="matMenu">
      <button mat-menu-item routerLink="/generator">Password Generator</button>
      <button mat-menu-item routerLink="/password-strength">Password Checker</button>
      <button mat-menu-item routerLink="/dashboard/passwords">Password Vault</button>
      <button mat-menu-item routerLink="/dashboard/file">File Storage</button>
    </mat-menu>
    <mat-menu #documentationMenu="matMenu">
      <button mat-menu-item routerLink="/api-docs">API Guide</button>
      <button mat-menu-item routerLink="/password-strength">Admin Guide</button>
      <button mat-menu-item routerLink="/user-guide">User Guide</button>
      <button mat-menu-item routerLink="/dashboard/file">Hosting Guide</button>
    </mat-menu>
  </nav>
</header>