<!-- src/app/app.component.html -->
<mat-sidenav-container class="h-[100vh] flex-auto overflow-hidden">
  <mat-sidenav *ngIf="isShow" #drawer [opened]="isSidebarOpen" [mode]="mode" style="
    width: 18em !important;
    border-radius: 0% !important;
    display: flex !important;
    flex-direction: column !important;
    column-gap: 3rem !important;
  ">
    <app-side-nav (UpdateFiilterType)="getPasswords($event)"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col flex-auto">
    <app-header></app-header>
    <mat-sidenav-container class="relative flex flex-auto h-full">
      <mat-sidenav #drawer mode='over' [opened]="isOpened" position="end" class="w-96">
        <app-view-password [password]="password"></app-view-password>
      </mat-sidenav>

      <mat-sidenav-content>
        <!-- Your existing file explorer code -->
        <div class="file-explorer">
          <nav aria-label="Global"
            class="flex flex-col sm:flex-row sm:items-center justify-between w-full space-x-2 text-primary-foreground bg-slate-800  p-3">
            <div class="flex items-center space-x-2">
              <button mat-icon-button (click)="toggleSideBar()" class="menu-button lg:hidden">
                <mat-icon>menu</mat-icon>
              </button>
              <span class="text-xl sm:text-3xl font-bold text-white">Passwords</span>
            </div>
            <div class="flex sm:items-center space-x-2 sm:w-6/12 sm:justify-end">
              <!-- Add Menu -->
              <input matInput type="text" placeholder="Search the password" aria-label="Search the password"
                class="w-8/12 py-2 px-3 border-2 border-slate-900 text-gray-500" [(ngModel)]="searchTerm"
                (keyup)="searchPassword()">

              <!-- Add Menu -->
              <div class="flex flex-col items-start p-2">
                <button mat-icon (click)="openPasswordFormDialog(null)" aria-label="Add new item">
                  <mat-icon class="text-slate-50">add_circle_outline</mat-icon>
                </button>
              </div>
              <!-- Filter Menu -->

              <!-- Actions Menu -->
              <div class="flex flex-col items-start p-2">
                <button mat-icon [matMenuTriggerFor]="actionMenu" aria-label="Actions menu">
                  <mat-icon class="text-slate-50">settings</mat-icon>
                </button>
                <mat-menu #actionMenu="matMenu">
                  <button mat-menu-item (click)="deletePasswords()">Delete</button>
                  <button mat-menu-item (click)="updateFavourites()">Add to Favourites</button>
                  <button mat-menu-item (click)="sharePassword()">Share</button>
                  <button mat-menu-item (click)="exportPassword()">Export</button>
                </mat-menu>
              </div>
            </div>
          </nav>
          <!-- Your table and other content here -->
          <ng-container *ngIf="passwords.length > 0; else noDataTemplate">
            <table mat-table class="mat-elevation-z8" [dataSource]="passwords" [trackBy]="trackById">
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="favourite">
                <th mat-header-cell *matHeaderCellDef>
                  Favourites
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-menu-item matTooltip="Add to favourites" (click)="updateFavourites(element._id)">
                    <mat-icon [ngStyle]="{
                      'color': element.isFavorite ? '#F59E0B' : '#4B5563'
                    }">
                      stars
                    </mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element; let i = index;">{{ i + 1 }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="website">
                <th mat-header-cell *matHeaderCellDef>Website</th>
                <td mat-cell *matCellDef="let element">{{ element.website }}</td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let element">{{ element.username }}</td>
              </ng-container>

              <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef>Password</th>
                <td mat-cell *matCellDef="let element">{{ element.password }}</td>
              </ng-container>

              <ng-container matColumnDef="update_at">
                <th mat-header-cell *matHeaderCellDef>Update Date</th>
                <td mat-cell *matCellDef="let element">{{ element.updatedAt | date: 'short' }}</td>
              </ng-container>

              <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef>Tags</th>
                <td mat-cell *matCellDef="let element">
                  <mat-chip-grid #chipGrid aria-label="Tag selection">
                    <!-- Add an input field with the matChipInputFor directive -->
                    <input hidden placeholder="New tag..." [matChipInputFor]="chipGrid"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />

                    <!-- Display the tags as mat-chip-row elements -->
                    <mat-chip-row *ngFor="let tag of element.tags" (removed)="removeTag(tag._id, element)">
                      {{ tag.name }}
                      <button matChipRemove aria-label="Remove tag">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="space-x-4">
                  <span class="flex items-center space-x-2">
                    <button mat-icon-button matTooltip="Launch" (click)="autofill(element)">
                      <mat-icon color="accent">launch</mat-icon>
                    </button>
                    <button *ngIf="!element.sharedItem || element?.sharedItem?.permissions?.edit" mat-icon-button
                      matTooltip="Edit password" (click)="openPasswordFormDialog(element)">
                      <mat-icon class="text-blue-500">edit</mat-icon>
                    </button>
                    <button *ngIf="!element.sharedItem || element?.sharedItem?.permissions?.delete" mat-icon-button
                      matTooltip="Delete password" (click)="deletePasswords(element._id)">
                      <mat-icon color="warn" class="text-red-600">delete</mat-icon>
                    </button>
                    <button *ngIf="!element.sharedItem" mat-icon-button matTooltip="Share password"
                      (click)="sharePassword(element._id)">
                      <mat-icon class="text-tertiary">share</mat-icon>
                    </button>
                    <button *ngIf="!element.sharedItem ||element.sharedItem?.permissions?.view" mat-icon-button
                      matTooltip="View password" (click)="viewPassword(element)">
                      <mat-icon class="text-tertiary">remove_red_eye</mat-icon>
                    </button>

                  </span>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </ng-container>
          <ng-template #noDataTemplate>
            <div class="flex items-center justify-center flex-col text-center p-6 h-[90vh] overflow-hidden">
              <img src="https://placehold.co/150" alt="error-icon" class="w-24 h-24 text-primary mb-4 animate-bounce" />
              <p class="text-primary font-extrabold text-2xl mt-2">Oops! Data not found</p>
              <p class="text-muted-foreground text-sm mt-1">It seems like we couldn't locate the information you
                requested.</p>
              <div class="flex space-x-6 mt-6">
                <button
                  class="bg-secondary text-secondary-foreground px-5 py-3 rounded-full shadow-md hover:bg-secondary/80 transition duration-300"
                  (click)="getPasswords()">Retry</button>
                <button
                  class="bg-accent text-accent-foreground px-5 py-3 rounded-full shadow-md hover:bg-accent/80 transition duration-300"
                  (click)="openPasswordFormDialog(null)">Add</button>
              </div>
            </div>


          </ng-template>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>