    <div class="flex flex-col items-center justify-center bg-slate-800 px-6 py-8 md:h-screen w-full lg:py-0">
        @if(loading) {
            <div>loading....</div>
        }
        @else if(!isResettingPassowrd && !linkVerified) {
            <div class="w-9/12 p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
                <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Forgot your password?
                </h1>
                <p class="font-light text-gray-500 dark:text-gray-400">Don't fret! Just type in your email and we will send you a code to reset your password!</p>
                <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" method="post" [formGroup]="emailForm">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" formControlName="email" required="">
                    </div>
                    <a routerLink="auth/login" class="text-sm text-blue-700 font-bold ml-auto">back to login</a>
                    
                    <button type="button" (click)="onSubmit()" class="bg-violet-600 text-white px-4 py-2  w-full border shadow-2xl">Reset password</button>
                </form>
            </div>
        }
        @else if(isResettingPassowrd && linkVerified) {
            <div class="w-9/12 p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
                <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    create new password
                </h1>
                <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" method="post" [formGroup]="passwordForm">
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                        <input type="password" name="password" id="hs-strong-password-with-indicator-and-hint" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="**********" formControlName="password" required="">
                        <div id="hs-strong-password" data-hs-strong-password='{
                            "target": "#hs-strong-password-with-indicator-and-hint",
                            "hints": "#hs-strong-password-hints",
                            "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-teal-500 h-2 flex-auto rounded-full bg-blue-500 opacity-50 mx-1"
                          }' class="flex mt-2 -mx-1"></div>
                    <div id="hs-strong-password-hints" class="mb-3">
                      <div>
                        <span class="text-sm text-gray-800 dark:text-neutral-200">Level:</span>
                        <span
                          data-hs-strong-password-hints-weakness-text='["Empty", "Weak", "Medium", "Strong", "Very Strong", "Super Strong"]'
                          class="text-sm font-semibold text-gray-800 dark:text-neutral-200"></span>
                      </div>
            
                      <h4 class="my-2 text-sm font-semibold text-gray-800 dark:text-white">
                        Your password must contain:
                      </h4>
            
                      <ul class="space-y-1 text-sm text-gray-500 dark:text-neutral-500">
                        <li data-hs-strong-password-hints-rule-text="min-length"
                          class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
                          <span class="hidden" data-check="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                          <span data-uncheck="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </span>
                          Minimum number of characters is 6.
                        </li>
                        <li data-hs-strong-password-hints-rule-text="lowercase"
                          class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
                          <span class="hidden" data-check="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                          <span data-uncheck="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </span>
                          Should contain lowercase.
                        </li>
                        <li data-hs-strong-password-hints-rule-text="uppercase"
                          class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
                          <span class="hidden" data-check="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                          <span data-uncheck="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </span>
                          Should contain uppercase.
                        </li>
                        <li data-hs-strong-password-hints-rule-text="numbers"
                          class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
                          <span class="hidden" data-check="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                          <span data-uncheck="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </span>
                          Should contain numbers.
                        </li>
                        <li data-hs-strong-password-hints-rule-text="special-characters"
                          class="hs-strong-password-active:text-teal-500 flex items-center gap-x-2">
                          <span class="hidden" data-check="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </span>
                          <span data-uncheck="">
                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round">
                              <path d="M18 6 6 18"></path>
                              <path d="m6 6 12 12"></path>
                            </svg>
                          </span>
                          Should contain special characters.
                        </li>
                      </ul>
                    </div>
                    </div>
                    <div>
                        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your confirm password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="********" formControlName="confirmPassword" required="">
                    </div>
                    <a routerLink="/auth/login" class="text-sm text-blue-700 font-bold ml-auto">back to login</a>
                    <button type="button" (click)="resetPassword()" class="bg-violet-600 text-white px-4 py-2  w-full border shadow-2xl">Reset password</button>
                </form>
            </div>
        }
        @else {
            <div class="w-9/12 p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
              <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Password reset link expired
              </h1>
              <p class="font-light text-gray-500 dark:text-gray-400">The link you used to reset your password has expired. Please request a new password reset link.</p>
              <a routerLink="auth/forgot-password">Request a new link</a>
            </div>
        }
    </div>