<div class="flex relative items-center justify-center w-full h-[100vh]">

  <mat-vertical-stepper [linear]="true" backgroundColor="primary" class="bg-gray-100 p-6 rounded-lg shadow-lg" #stepper>
    <!-- Email Input Step -->
    <mat-step  [stepControl]="emailForm">
      <form class="space-y-6" [formGroup]="emailForm">
        <ng-template matStepLabel>
          <div class="text-2xl font-bold text-gray-900">Forgot your password?</div>
        </ng-template>
        <div class="space-y-4">
          <p class="text-gray-600 dark:text-gray-400">Don't fret! Just type in your email and we will send you a code to reset your password!</p>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700 dark:text-gray-200">Your email</mat-label>
            <input matInput formControlName="email" placeholder="name@company.com" required class="bg-white border border-gray-300 rounded-lg py-2 px-3 text-gray-900 dark:bg-gray-800 dark:border-gray-600 focus:ring-primary-600 focus:border-primary-600">
          </mat-form-field>
          <div class="flex justify-between items-center">
            <a routerLink="auth/login" class="text-sm text-blue-600 hover:underline">Back to login</a>
            <button matStepperNext color="primary" (click)="sendResetToken()" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">Send reset token</button>
          </div>
        </div>
      </form>
    </mat-step>
  
    <!-- Token Validation Step -->
    <mat-step  [stepControl]="tokenForm">
      <form class="space-y-6" [formGroup]="tokenForm">
        <ng-template matStepLabel>
          <div class="text-2xl font-bold text-gray-900">Verify Your Token</div>
        </ng-template>
        <div class="space-y-4">
          <p class="text-gray-600 dark:text-gray-400">We have sent you a token. Please enter it below to verify your request.</p>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700 dark:text-gray-200">Your token</mat-label>
            <input matInput formControlName="token" placeholder="Enter your token" required class="bg-white border border-gray-300 rounded-lg py-2 px-3 text-gray-900 dark:bg-gray-800 dark:border-gray-600 focus:ring-primary-600 focus:border-primary-600">
          </mat-form-field>
          <div class="flex justify-between items-center">
            <a routerLink="auth/login" class="text-sm text-blue-600 hover:underline">Back to login</a>
            <button matStepperNext color="primary" (click)="validateToken()" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">Verify Token</button>
          </div>
        </div>
      </form>
    </mat-step>
  
    <!-- Password Reset Step -->
    <mat-step  [stepControl]="passwordForm">
      <form class="space-y-6" [formGroup]="passwordForm">
        <ng-template matStepLabel>
          <div class="text-2xl font-bold text-gray-900">Create New Password</div>
        </ng-template>
        <div class="space-y-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700 dark:text-gray-200">Your password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="**********" required class="bg-white border border-gray-300 rounded-lg py-2 px-3 text-gray-900 dark:bg-gray-800 dark:border-gray-600 focus:ring-primary-600 focus:border-primary-600">
          </mat-form-field>
          <div class="password-strength mb-4">
            <div id="hs-strong-password" data-hs-strong-password='{"target": "#password", "hints": "#hs-strong-password-hints"}' class="bg-gray-200 p-2 rounded-lg"></div>
            <div id="hs-strong-password-hints" class="text-sm text-gray-600 dark:text-gray-400"></div>
          </div>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-700 dark:text-gray-200">Confirm password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="********" required class="bg-white border border-gray-300 rounded-lg py-2 px-3 text-gray-900 dark:bg-gray-800 dark:border-gray-600 focus:ring-primary-600 focus:border-primary-600">
          </mat-form-field>
          <div class="flex justify-between items-center">
            <a routerLink="/auth/login" class="text-sm text-blue-600 hover:underline">Back to login</a>
            <button matStepperNext color="primary" (click)="resetPassword()" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">Reset password</button>
          </div>
        </div>
      </form>
    </mat-step>
  
   
  </mat-vertical-stepper>
  
</div>

