

<div class="flex flex-col relative overflow-auto justify-center items-center h-[100vh]">

  <form class="space-y-6 p-4 bg-slate-50 shadow-xl border" [formGroup]="passwordForm" (ngSubmit)="resetPassword()" 
  novalidate>
    <div class="text-2xl font-medium text-gray-900 text-center">Create New Password</div>
    
    <!-- Display Error Message if Link Expired -->
   

      <!-- Password Field -->
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Your password" required>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password')?.hasError('pattern')">
          Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password Field -->
      <mat-form-field appearance="outline" class="w-full">
        <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm your password" required>
        <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
          {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
          Confirm password is required.
        </mat-error>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('confirmPasswordMismatch')">
          Passwords do not match.
        </mat-error>
      </mat-form-field>

      <!-- Back to Login and Reset Password Button -->
      <div class="flex justify-between items-center">
        <a routerLink="/auth/login" class="text-sm text-blue-600 hover:underline">Back to login</a>
        <button type="submit" color="primary" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600">
          Reset password
        </button>
      </div>
  </form>
</div>
