
        <div class="border-r-1 h-full flex flex-col items-center text-white">
            <button mat-menu-item  [matMenuTriggerFor]="addAction">
                <mat-icon style="color: gray !important;">add_circle_outline</mat-icon>
            </button>
            <mat-menu #addAction="matMenu">
                <button mat-menu-item (click)="openPasswordFormDialog()">New Password</button>
                <button mat-menu-item (click)="opencardAddForm()">New Cart</button>
                <button mat-menu-item (click)="openAddNoteForm">Note</button>
            </mat-menu>
            <button mat-menu-item [matMenuTriggerFor]="filterAction">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #filterAction="matMenu">
                <button mat-menu-item (click)="setFilter('modified')">Latest Modified</button>
                <button mat-menu-item (click)="setFilter('favourites')">Favourites</button>
                <button mat-menu-item (click)="setFilter('shared')">Shared With Me</button>
                <button mat-menu-item (click)="setFilter('create')">Created By Me</button>
            </mat-menu>
            <button mat-menu-item [matMenuTriggerFor]="mainAction">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #mainAction="matMenu">
                <button mat-menu-item (click)="performAction('delete')">Delete</button>
                <button mat-menu-item (click)="performAction('add_favorites')">Add to Favourites</button>
                <button mat-menu-item (click)="performAction('share')">Share</button>
                <button mat-menu-item (click)="performAction('export')">Export</button>
            </mat-menu>
        </div>
        