<div class="flex relative h-[10vh] bg-slate-800 w-full space-x-3 items-center justify-between">
  <input matInput type="text" placeholder="Search the password" [(ngModel)]="filterValue" (change)="filterPasswords()"
    class="px-5 py-4 w-5/12 border shadow-xl bg-white rounded" />

  <div class="flex items-center ml-auto space-x-5">
    <select [(ngModel)]="selectedTags" aria-placeholder="Filter By Tags:"
      class="px-8 py-4 border shadow-xl bg-white text-gray-800  rounded">
      <option value="none">Select Tags
      <option>
      <option value="work">Work</option>
      <option value="personal">Personal</option>
      <option value="finance">Finance</option>
    </select>
    <button class="block px-8 py-4 rounded bg-blue-500 " [matMenuTriggerFor]="filter">Filter
      by</button>
    <mat-menu #filter="matMenu">

      <button (click)="setFilter('modified')" mat-menu-item>Latest Modified</button>
      <button (click)="setFilter('favoutites')" mat-menu-item>favourites</button>
      <button (click)="setFilter('shared')" mat-menu-item>Shared With Me</button>
      <button (click)="setFilter('create')" mat-menu-item>created BY Me</button>
    </mat-menu>
    <button class="block px-8 py-4 rounded bg-blue-500 " [matMenuTriggerFor]="Action">Action </button>
    <mat-menu #Action="matMenu">
      <button mat-menu-item (click)="performAction('delete')">Delete</button>
      <button mat-menu-item (click)="performAction('add_favorites')">Add to favourites</button>
      <button mat-menu-item (click)="performAction('share')">Share</button>
      <button mat-menu-item (click)="performAction('export')">Export</button>
    </mat-menu>
    <button (click)="openPasswordFormDialog()" class="block px-8 py-4  rounded bg-blue-500 ">
      Add new
    </button>
  </div>
</div>