<div class="flex flex-col h-[100vh] w-full items-center justify-center" 
>
<mat-horizontal-stepper [linear]="true" backgroundColor="primary" class="bg-gray-100 p-6 rounded-lg shadow-lg">
    <!-- Create Password Step -->
    <mat-step [stepControl]="passwordForm">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
        <ng-template matStepLabel>Create New Password</ng-template>
        <div class="space-y-4">
            <mat-form-field appearance="fill" class="w-full">
    
            <mat-label>Your email</mat-label>
            <input matInput formControlName="email" placeholder="name@company.com" required>
            <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="emailForm.get('email')?.hasError('email')">
              Enter a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Your password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="**********" required>
            <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="********" required>
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('mismatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button matStepperNext color="primary" (click)="onSubmitPassword()" [disabled]="passwordForm.invalid">Set Password</button>
        </div>
      </form>
    </mat-step>
  
    <!-- Confirm Email Step -->
    <mat-step [stepControl]="emailForm">
      <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
        <ng-template matStepLabel>Confirm Your Email</ng-template>
        <div class="space-y-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Your OTP</mat-label>
            <input matInput formControlName="OTP"  required>
            <mat-error *ngIf="emailForm.get('OTP')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="emailForm.get('OTP')?.hasError('email')">
              Enter a valid email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onSubmitEmail()" [disabled]="emailForm.invalid">Confirm Email</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  
</div>