<mat-sidenav-container class="relative flex flex-uot h-[90vh]">
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="isSidebarOpen"
    class="sm: sidenav.closee()"
    style="
      width: 15rem !important;
      padding: 2rem 0 !important;
      background-color: rgb(37, 36, 44);
      color: white !important;
      border-radius: 0% !important;
      display: flex !important;
      flex-direction: column !important;
      column-gap: 3rem !important;
    "
  >
    <div class="flex flex-col space-y-2">
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(0)"
        >Personal Details</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(1)"
        >Security Token</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(2)"
        >Change Password</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(3)"
        >Email Notification</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(4)"
        >MFA Authentication</a
      >
      <a
        class="px-4 py-2 text-white block text-center cursor-pointer"
        (click)="setTab(5)"
        >Role Permissions</a
      >
    </div>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="p-4">
    @switch(tab) { @case (0){
    <app-user-profile />
    } @case (1) {
    <app-security />
    } @case (2) {
    <app-password-change />
    } @case (3) {
    <app-notification />
    } @case (4) {
    <app-mfa-setting />
    } @default {
    <app-roles-permissions />
    } }
  </mat-sidenav-content>
</mat-sidenav-container>
