<mat-toolbar color="primary">
  <h2 mat-dialog-title class="text-white">{{ isEditMode ? 'Edit File' : 'Upload File' }}</h2>
  <mat-icon mat-flat-button mat-dialog-close="true" class="ml-auto text-white">
    close
  </mat-icon>
</mat-toolbar>
<mat-dialog-content class="mat-typography p-6">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-4">
    <!-- File Upload Input -->
    <div
    class="border-2 border-dashed border-gray-300 rounded-lg p-8 text-center transition-all duration-300 hover:border-blue-500"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onFileDrop($event)"
    [class.bg-blue-50]="isFileOver"
    [class.border-blue-500]="isFileOver"
  >
    <div class="flex flex-col items-center space-y-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 text-gray-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16l4-4m0 0l4 4m-4-4v12M13 8h8m0 0l-4-4m4 4l-4 4"
        />
      </svg>
      <p class="text-gray-700">Drag and drop file here</p>
      <p class="text-gray-500">or</p>
      <button
        class="bg-red-500 text-white py-2 px-4 rounded-md shadow-md hover:bg-red-600"
        (click)="fileInput.click()"
      >
        Browse for file
      </button>
      <input
        #fileInput
        type="file"
        hidden
        multiple
        (change)="onFileChange($event)"
      />
    </div>
  </div>
  
  

    <!-- Button to clear or remove file (for editing purposes) -->
    <ng-container *ngIf="isEditMode && fileData">
      <button type="button" mat-raised-button (click)="removeFile()" color="warn">
        Remove File
      </button>
    </ng-container>

    <mat-form-field  appearance="outline">
      <input type="text" matInput placeholder="File name" formControlName="name" />
    </mat-form-field>
    <!-- Folder Selection Input -->
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Select the folder" formControlName="folderName" [matAutocomplete]="auto"
        (input)="onFolderSearch($event)" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="change(folder)" *ngFor="let folder of filteredFolders" [value]="folder.name">
          {{ folder.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Create Folder Button (visible when folder not found) -->
    <button *ngIf="folderNotFound" mat-flat-button color="primary" type="button"
      (click)="createFolder(uploadForm.get('folderName')!.value)">
      Create Folder "{{ uploadForm.get('folderName')!.value }}"
    </button>

    <!-- Shared With Input -->
    <mat-form-field  appearance="outline">
      <input type="text" matInput placeholder="Enter the note" formControlName="notes" />
    </mat-form-field>

    <!-- Submit and Cancel Buttons -->
    <div class="flex items-center justify-between">
      <button mat-flat-button color="primary" type="submit">{{ isEditMode ? 'Save Changes' : 'Upload' }}</button>
      <button mat-flat-button type="button" mat-dialog-close="true">Cancel</button>
    </div>
  </form>
</mat-dialog-content>