<mat-sidenav-container class="h-[100vh] flex-auto overflow-hidden">
  <mat-sidenav
    #drawer
    [opened]="isSidebarOpen"
    [mode]="mode"
    style="
    width: 15rem !important;
    border-radius: 0% !important;
    display: flex !important;
    flex-direction: column !important;
    column-gap: 3rem !important;
  "
  >
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col flex-auto">
    <app-header></app-header>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
