<div class="border-r-1 h-full flex flex-col items-center text-white bg-slate-800 space-y-4 py-5">
  <a (click)="toggleSideBar()" mat-button color="tertiary" routerLink="/dashboard/passwords" >Passwords</a>
  <a (click)="toggleSideBar()" mat-button color="tertiary" routerLink="/dashboard/notes">Secure Notes</a>
  <a (click)="toggleSideBar()" mat-button color="tertiary" routerLink="/dashboard/card">Cards</a>
  <a (click)="toggleSideBar()" mat-button color="tertiary" routerLink="/dashboard/Proof">Identity</a>
  <a (click)="toggleSideBar()" mat-button color="tertiary" routerLink="/dashboard/file">File storage</a>
  </div>
  