<nav class="flex flex-col p-5 w-full text-dark" aria-label="Global">
    <h6> Security Questions</h6>
      <p class="text-gray-700 font-normal">Set up questions for password recovery (optional).</p>
    </nav>
    <form [formGroup]="passwordChangeForm" class="flex flex-col space-y-6">
          <mat-form-field appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="currentPassword">
            <mat-error *ngIf="passwordChangeForm.get('currentPassword').hasError('required')">
              Current password is required
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('required')">
              New password is required
            </mat-error>
            <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('minlength')">
              New password must be at least 8 characters long
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword">
            <mat-error *ngIf="passwordChangeForm.get('confirmNewPassword').hasError('required')">
              Confirm new password is required
            </mat-error>
            <mat-error *ngIf="passwordChangeForm.get('confirmNewPassword').hasError('mustMatch')">
              Confirm new password must match new password
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!passwordChangeForm.valid">
            Change Password
          </button>
        </form>
      