<div class="border-r-1 h-full mt-16 flex flex-col items-center space-y-6 py-5">
  <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
    
    <!-- Leaf Nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="sectionOpened(node.type)" class="flex items-center">
      <div class="flex items-center">
        <a mat-icon-button [routerLink]="node.redirectLink">
          <mat-icon>{{node.icon}}</mat-icon>
        </a>
        <span>
          {{node.name}}
        </span>
      </div>
      <button *ngIf="node.redirectLink" mat-icon-button class="ml-auto" (click)="openCreateFolderDialog($event, node.type)">
        <mat-icon class="mr-2">create_new_folder</mat-icon>
      </button>
    </mat-tree-node>

    <!-- Expandable Nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodeToggle class="flex items-center">
      <!-- <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button> -->
      <div class="flex items-center">
        <a mat-icon-button [routerLink]="node.redirectLink">
          <mat-icon>{{node.icon}}</mat-icon>
        </a>
        <span>
          {{node.name}}
        </span>
      </div>
      <button *ngIf="node.redirectLink" mat-icon-button class="ml-auto" (click)="openCreateFolderDialog($event, node.type)">
        <mat-icon class="mr-2">create_new_folder</mat-icon>
      </button>
    </mat-tree-node>
    
  </mat-tree>
</div>
