@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 62.5;
}

::ng-deep mdc-dialog--closing .mat-mdc-dialog-surface {
  border-radius: 0 !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
