@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size:small;

}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: .05rem !important;
}

