<mat-sidenav-container class="h-[100vh] flex-auto overflow-hidden">
  <mat-sidenav #drawer [mode]="mode"  class="w-12 bg-slate-900 text-white responsive-element">
    <app-side-nav [passwordIds]="selectedIds" (updatePasswordsTable)="updateListingType($event)" (updateListingType)="updateListingType($event)"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col flex-auto">
    <div class="flex h-[9vh] w-full p-4 items-center relative space-x-4 sm:justify-between bg-slate-900 text-white">
      <div class="flex items-center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="text-white">menu</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="outline" class=" flex-auto sm:w-7/12 h-[7vh] bg-white">
        <input matInput type="text" placeholder="Search the password" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <app-password *ngIf="listingType ==='passwords'"/>
    <app-notes *ngIf="listingType === 'notes'"/>
    <app-card *ngIf="listingType === 'cards'"/>
    <app-id-proof *ngIf="listingType === 'idproofs'"/>
  </mat-sidenav-content>
</mat-sidenav-container>
