<mat-sidenav-container class="h-[100vh]">
  <mat-sidenav #drawer mode="side" opened class="w-12 bg-slate-900 text-white" style="width: 6% !important; border-radius: 0% !important;">
    <app-side-nav [passwordIds]="selection.selected" (updatePasswordsTable)="getPasswords($event)"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-col">
    <div class="flex flex-wrap w-full p-4 md:h-[10vh] items-center relative justify-between bg-slate-900 text-white">
      <div class="flex items-center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="text-white">menu</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="outline" class="w-full md:w-7/12 md:absolute md:top-2 md:bottom-2 md:right-4 h-[8vh] bg-white">
        <input matInput type="text" placeholder="Search the password" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <ng-container *ngIf="passwords.length > 0; else noDataTemplate">
      <table mat-table class="h-[90vh] mat-elevation-z8" [dataSource]="passwords" [trackBy]="trackById">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="favourite">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-menu-item matTooltip="Add to favourites" color="accent">
              <mat-icon>stars</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-menu-item matTooltip="Add to favourites" color="accent" (click)="updateFavourites(element._id)">
              <mat-icon [ngClass]="{'text-yellow-500': element.isFavorite, 'text-gray-600': !element.isFavorite}">stars</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef>Website</th>
          <td mat-cell *matCellDef="let element">{{ element.website }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef>Password</th>
          <td mat-cell *matCellDef="let element">{{ element.password }}</td>
        </ng-container>

        <ng-container matColumnDef="update_at">
          <th mat-header-cell *matHeaderCellDef>Update Date</th>
          <td mat-cell *matCellDef="let element">{{ element.updatedAt | date: 'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-grid #chipGrid aria-label="Tag selection">
              <mat-chip-row *ngFor="let tag of element.tags;">
                {{ tag.name }}
              </mat-chip-row>
            </mat-chip-grid>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="space-x-4">
            <a mat-button [matMenuTriggerFor]="setting">
              <mat-icon>more_vert</mat-icon>
            </a>
            <mat-menu #setting="matMenu">
              <button mat-menu-item matTooltip="Launch" (click)="autofill(element)" color="accent">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-menu-item matTooltip="Edit password" color="tertiary" (click)="openPasswordFormDialog(element)">
                <mat-icon class="text-blue-500">edit</mat-icon>
              </button>
              <button mat-menu-item matTooltip="Delete password" (click)="delete(element._id)" color="warn">
                <mat-icon class="text-red-600">delete</mat-icon>
              </button>
              <button mat-menu-item matTooltip="Share password" color="tertiary" (click)="sharePassword(element._id)">
                <mat-icon>share</mat-icon>
              </button>
              <button mat-menu-item matTooltip="View password" color="tertiary" (click)="viewPassword(element._id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-container>
    <ng-template #noDataTemplate>
      <span class="text-center font-bold text-4xl">Data not found</span>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
